/output/*/certs/
/output/cobas-pro/certs/
/output/cobas-u411/certs/
/output/dirui-h800/certs/
/output/indiko-plus/certs/
/output/maglumi-800/certs/
/output/mindray-bs600m/certs/
/output/sysmex-ca600/certs/
/output/sysmex-xn550/certs/
/old-src/
/old-src/
/common/output/certs/
*.log
readersv3/dist/
readersv3/release/
/readersv3/build/apps.json
/readersv3/output/*/bin/**
/readersv3/output/*/deployments/*.log
/readersv3/output/*/deployments/*.zip
/readersv3/output/**/deployments/*.db
/readersv3/output/**/deployments/*.db-shm
/readersv3/output/**/deployments/*.db-wal
/readersv3/output/*/deployments/tls/**
/readersv3/output/*/deployments/files/**
/readersv3/output/*/deployments/images/**
/readersv3/output/*/deployments/failed/**
/readersv3/output/*/deployments/processed/**
/readersv3/output/*/deployments/output/**
/readersv3/output/*/deployments/config.yaml